<div class="filters">
         <strong>Ordenado por: </strong> <select name="selector" id="selectOrder">
             <option value="1" selected> Todos </option>
             <option value="2">Precio</option>
             <option value="3">Género</option>
             <option value="4">Oferta</option>

         </select>
        <hr>
    </div>
    <div class="items">
        {{#each products}}
        <button class="item">
            <img class="itemimg" src="/src/img/{{image}}">
            <div class="name">{{name}}</div>
            <div class="price">${{price}}.00</div>
        </button>
      {{/each}}
    </div> 