
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    background-color: rgba(229, 229, 229, 1);
}

header{
    width:100%;
    height:6vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
}
.logo{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1vw;;
    margin-right:10px;
    width: 100%;
    max-width: 20vw;;
}

.logo__img{
    width:3vw;
    height:4vw;
    padding-left:1vw;;
  
}
.logo__logoT{
    
    color: white;
    font-family: 'Anton', sans-serif;
    font-size:2vw;
    margin:0;
    margin-top:0.6vw;
    margin-left:1vw;
    
    
}
.search{
    display: flex;
    width: 40vw;
    padding: 1.5vw;
    margin-left: 5vw;
}
.sbar{
    width:85%;
    border-top-left-radius:0.5vw ;
    border-bottom-left-radius:0.5vw ;
    border:none;

}
.sbutton{
    width: 15%;
    border-top-right-radius:0.5vw ;
    border-bottom-right-radius:0.5vw ;
    background-color: white;
    border-left-width: 1px;
    border-left-color: black ;
    border-top:none;
    border-right:none;
    border-bottom: none;
    transition-duration: 0.2s;
}
.sbutton:hover{
    cursor: pointer;
    background-color: tomato;
}
.glass{
    widows: 1.5vw;;
    height: 1.5vw;
    
}
.kart{
    display: flex;
    align-content: flex-end;
    width: 20%;
    padding: 1.5vw;
}
.hrc{
    margin-left: 15vw;
    margin-right:2vw;
}
.icon{
    width:5vw;
    height: 3vw;
  
}
.items{
    widows: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    padding:1vw;
}
.item{
    width: 15vw;
    height:30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 2vw;
    transition-duration: 0.5s;
    -webkit-box-shadow: 0px 10px 5px 1px rgba(98, 130, 201, 0.43);
    -moz-box-shadow: 0px 10px 5px 1px rgba(98, 130, 201, 0.43);
    box-shadow: 0px 10px 5px 1px rgba(98, 130, 201, 0.43);
 
}

.item:hover{
    cursor: pointer;
    background-color:black;
    color:white;
    

}
.itemimg{
    margin:0.5vw;
    margin-top: 1vw;
    width:90%;
    height: 70%;

}
.name{
    align-self: flex-start;
    margin-left: 0.5vw;
    font-size: 1.8vw;;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.price{
    align-self: flex-end;
    margin-right: 0.5vw;
    margin-top: 1vw;
    font-size: 2vw;;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.hr{
    opacity: 250%;
}
.filters{
    margin:2vw;
    align-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 2vw;
    font-size: 1.5vw;
    font-family: 'Bai Jamjuree', sans-serif;
}

footer{
    display:flex;
    widows: 100%;
    background-color:black;
}
.f-logo{
    padding:2vw;
    width:6%;
}
.footer__logo{
    
    width:4.5vw;
    height:6vw;
    
    
    
}
.f-text{
    font-family: 'Bai Jamjuree', sans-serif;
    color:white;
    font-size:1vw;
}
